<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Article</h1>
    <hr>
    <h2 th:text="${article.id}"></h2>
    <h2 th:text="${article.title}"></h2>
</body>
</html>